/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Updated font-family */
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Updated background color */
  color: #212529; /* Default text color */
}

section {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 1.7rem; /* Modernized font size */
  color: #343a40; /* Updated color */
  padding-top: 20px;
  font-weight: 700; /* Bold weight for headings */
}

/* Button Styles */
.button {
  text-align: center;
  min-width: 150px;
  background-color: #ffffff;
  border: 2px solid #600e0d;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px;
  padding: 10px 20px; /* Adjusted padding for modern look */
  transition: all 0.3s ease; /* Smooth transition */
}

.button:hover {
  background-color: #600e0d;
  color: #fffdd0;
}

.button a {
  color: black;
  font-size: 0.9rem; /* Adjusted font size */
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.button a:hover {
  font-size: 1rem;
  color: white;
  padding: 5px;
}
/* Footer Styles */
footer {
  width: 100%;
  background-color: #f8f9fa; /* Same background color as navigation */
  position: fixed; /* Fix the footer at the bottom */
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Increased padding for modern look */
  color: #343a40; /* Dark text color for contrast */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  max-width: 1200px; /* Max width for the footer content */
  margin: 0 auto; /* Center the footer content */
}

.footer-address,
.footer-number {
  flex-basis: 30%; /* Adjusted for better layout */
  font-size: 1rem; /* Increased font size */
  padding: 10px; /* Added padding for spacing */
}

.footer-address p,
.footer-number a {
  margin: 0;
  color: #343a40;
  text-decoration: none; /* Remove underline */
}

.footer-number a:hover {
  color: #adb5bd; /* Hover effect */
}

.footer-number h3,
.footer-address h3 {
  font-size: 1rem;
  margin: 0;
}

.socials {
  flex-basis: 20%; /* Adjusted for better layout */
  display: flex;
  justify-content: center;
}

.socials ul {
  display: flex;
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.socials ul li {
  margin: 0 10px; /* Add margin between icons */
}

.socials ul li i {
  color: #343a40; /* Dark icon color */
  font-size: 1.5rem;
  transition: color 0.3s ease; /* Smooth transition */
}

.socials ul li i:hover {
  color: #adb5bd; /* Hover effect */
}

@media (max-width: 760px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-address,
  .footer-number,
  .socials {
    flex-basis: 100%;
    padding: 2.5px 0; /* Adjust padding for better spacing */
  }

  .socials ul {
    justify-content: center;
  }

  .socials ul li {
    margin: 10px; /* Adjust margin for better spacing */
  }
}

/* Navigation Styles */


header {
  background-color: #ffffff; /* Updated background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjusted to space items evenly */
  align-items: center;
  padding: 10px 20px; /* Increased padding for modern look */
  width: 100%;
  max-width: 1200px; /* Added max-width */
  margin: 0 auto; /* Center the container */
}

.logo img {
  max-height: 60px; /* Reduced size for modern look */
  margin-left: 20px;
}

nav {
  display: flex;
  padding: 0;
}

nav ul {
  display: flex; /* Ensure flexbox layout */
  list-style-type: none; /* Remove default list styling */
}

nav ul li {
  margin: 0 10px; /* Add margin between links */
}

nav li a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem; /* Slightly larger font size */
  font-weight: 500;
  color: #343a40; /* Darker color for better readability */
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease; /* Smooth transition */
  padding: 5px 10px; /* Add padding for clickable area */
  border-radius: 5px; /* Rounded corners for modern look */
}

nav li a:hover {
  background-color: #600e0d; /* Background color on hover */
  color: #fff; /* Text color on hover */
}
/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: 0.3s;
}

/* Mobile menu styles */
#mobile-menu {
  display: none;
  position: absolute;
  top: 60px; /* Adjust based on header height */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#mobile-menu ul {
  width: 100%;
}

#mobile-menu ul li {
  border-bottom: 1px solid #ddd;
  width: 100%;
  text-align: center;
  box-sizing: border-box; /* This makes the padding and border included in the width */
}
#mobile-menu ul li a {
  display: block;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
 
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  #desktop-menu {
    display: none;
  }
}

/* Hero Image Styles */
.hero-container {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    ),
    url('/resources/images/Sams food example.jpg'); /* Adjust path if needed */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff; /* Text color for better contrast */
  text-align: center; /* Center the text */
}

.hero-content {
  background: rgba(0, 0, 0, 0.5); /* Darker overlay */
  padding: 2em;
  border-radius: 10px; /* Rounded corners for modern look */
}

.hero-content h1 {
  font-size: 2.5rem; /* Larger font size for heading */
  margin-bottom: 0.5em;
}

.hero-content p {
  font-size: 1.5rem; /* Adjusted font size for paragraph */
  margin-bottom: 1em;
}

.hero-button {
  background-color: #ffffff;
  color: #343a40;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  background-color: #343a40;
  color: #ffffff;
}


/* Location Page Styles */
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.location-address {
  text-align: center;
  margin-bottom: 20px;
}

.location-map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.location-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Contact Us Styles */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content */
  padding: 40px;
  background-color: #ffffff;
  color: #343a40;
  height: 100vh; /* Ensure the container takes full viewport height */
  box-sizing: border-box;
  text-align: center; /* Center text */
  overflow: hidden; /* Prevent scrolling */
}

.contact-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-container img {
  max-height: 150px; /* Smaller image to fit within viewport */
  border-radius: 10px; /* Rounded corners for images */
  margin-bottom: 20px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Constrain width */
  margin: 10px 0; /* Reduced margin */
  padding: 20px;
  background: rgba(0, 0, 0, 0.05); /* Light background for contact box */
  border-radius: 10px; /* Rounded corners */
}

.contact-box p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-style: italic;
}

.contact-box p span {
  text-transform: uppercase;
  font-weight: bold;
  color: #600e0d;
  line-height: 1.2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Reduced margin */
}

.contact-item p a {
  color: #343a40;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
}

.contact-item p a:hover {
  color: #600e0d; /* Hover effect */
}

.contact-item h3 {
  font-size: 1.2rem;
  color: #600e0d;
}

.contact-item a i {
  font-size: 2rem;
  text-decoration: none;
  color: #343a40;
  margin-top: 10px;
}

.contact-item a i:hover {
  color: #600e0d; /* Hover effect */
}

.contact-container .socials {
  margin-top: 10px; /* Reduced margin */
}

.contact-container .socials ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.contact-container .socials ul li {
  margin: 0 10px;
}

.contact-container .socials ul li i {
  color: #343a40;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.contact-container .socials ul li i:hover {
  color: #600e0d; /* Hover effect */
}
/* About Page Styles */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure content starts from the top */
  align-items: center; /* Center the content horizontally */
  max-width: 1200px; /* Set a max width for the about content */
  margin: 0 auto; /* Center the container */
  height: 100vh;
  padding: 20px 0; /* Adjust padding for top and bottom */
}

/* About Info Styles */
.about-info {
  text-align: center;
  margin: 0; /* Remove margins */
  padding-bottom: 10px; /* Add a small gap between text and slideshow */
  flex: 0 0 auto; /* Ensure the text does not take up unnecessary space */
  width: 100%; /* Ensure the text container takes the full width */
}

.about-info h1 {
  font-size: 2rem;
}

.about-info p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Slideshow Container Styles */
.slideshow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure the container hides overflow */
  width: 100%;
  margin: 0 auto;
  flex-grow: 1; /* Allow the slideshow to take up remaining space */
}

.slides {
  display: none;
  width: 100%;
  height: auto; /* Ensure the slides fill the container */
}

.slides img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 50vh; /* Adjust image height */
  object-fit: cover; /* Ensure the images cover the container without distortion */
  border-radius: 10px;
}

/* Dot/Indicator Styles */
.dot-container {
  text-align: center;
  margin-top: 10px; /* Add some space between the slideshow and the dots */
  width: 100%; /* Ensure the dot container takes the full width */
}

.dot {
  height: 15px;
  width: 15px;
  margin: 10px 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-container {
    padding: 10px 0; /* Reduce padding for smaller screens */
    height: auto; /* Allow height to adjust based on content */
    padding: 0 10px;
  }

  .slideshow-container {
    height: auto; /* Allow height to adjust based on content */

  }

  .slides img {
    max-height: 40vh; /* Adjust image height for smaller screens */
  }
}

@media (max-width: 480px) {
  .about-info h1 {
    font-size: 1.5rem;
  }

  .about-info p {
    font-size: 0.9rem;
  }

  .slides img {
    max-height: 30vh; /* Further adjust image height for very small screens */
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

/* Menu Styles */
.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 3rem;
  flex-wrap: wrap;
  width: 100%;
}

.menu-navigation h1 {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.menu-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 0;
}

.menu-section h1 {
  text-align: center;
  font-family: Allura, cursive;
  font-size: 3rem;
  padding: 5px auto;
  color: black;
  width: 100%;
}

.menu-section p span {
  font-weight: bold;
}

.menu-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu-item {
  width: 50%;
  padding: 1rem;
}

.menu-item h3 {
  padding-bottom: 0.6rem;
  color: #600e0d;
}

.menu-item p {
  font-size: 1.1rem;
  line-height: 1.23rem;
}

.menu-toppings {
  flex-basis: 80%;
  border: 2px solid #600e0d;
  margin: 20px auto;
  padding: 10px 5%;
}

.combination-box {
  border: 2px solid black;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 15px;
}

.menu-button {
  display: flex;
  justify-content: center;
}
.drinks-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
/* Tabs styling */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd; /* Add a bottom border to simulate the tab container */
}

.tab {
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
  background-color: #f8f9fa;
  border: 1px solid #ddd; /* Add border to tabs */
  border-bottom: none; /* Remove bottom border for tab effect */
  border-radius: 5px 5px 0 0; /* Rounded corners at the top */
  transition: background-color 0.3s ease;
}

.tab:not(:last-child) {
  border-right: none; /* Remove right border except the last tab */
}

.tab:hover {
  background-color: #e9ecef;
}

/* Active tab styling */
.tab.active {
  background-color: #600e0d;
  border-bottom: 2px solid #fff; /* Make active tab appear connected to the content */
  color: #fff;
  position: relative;
  top: 2px; /* Slightly lift the active tab */
}

/* Menu content sections */
.menu-content {
  display: none;
  padding: 20px; /* Add padding for content */
  border: 1px solid #ddd; /* Border for content section */
  background-color: #fff;
}

.menu-content.active {
  display: block;
}

/* Media Queries */
@media (max-width: 760px) {
  .menu-navigation {
    flex-direction: row;
    align-items: center;
    padding: 10px 1rem;
  }

  .tabs {
    border-bottom: 2px solid #ddd; /* Add bottom border in mobile view */
  }

  .tab {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    border-radius: 5px; /* Full rounded corners for mobile */
    border-bottom: 1px solid #ddd; /* Add bottom border back for mobile */
  }

  .tab:not(:last-child) {
    border-right: none; /* Ensure no right border on mobile */
  }

  .tab.active {
    border-bottom: none; /* Remove bottom border on active tab for mobile */
  }

  .menu-navigation h1 {
    font-size: 1.2rem;
  }

  .menu-content h1 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .menu-item {
    width: 100%;
    padding: 0.5rem;
  }

  .combination-box {
    margin: 10px 0;
  }
}



/* Event Styles */
.event-container {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-box h1 {
  padding: 10px 0;
  text-transform: uppercase;
}


